/*/ NAVBAR /*/

.navbar {
    width: 6rem;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

@media (max-width: 800px) {
    .navbar {
        width: 100vw;
        height: 3rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 1rem;
        position: absolute;
    }
}

/*/ PAGE TRANSITION /*/

.pageCoverBefore {
    width: 100vw;
    height: 100vh;
    background-color: #1a1818;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.pageCoverAfter {
    width: 100vw;
    height: 100vh;
    background-color: #1a1818;
    position: fixed;
    top: -105vh;
    left: 0;
    z-index: 100;
    transition: all 1.5s ease;
}

.pageCoverBefore2 {
    width: 100vw;
    height: 100vh;
    background-color: #ecead3;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.pageCoverAfter2 {
    width: 100vw;
    height: 100vh;
    background-color: #ecead3;
    position: fixed;
    top: 200vh;
    left: 0;
    z-index: 100;
    transition: all 2s ease;
}