/*/ NAVBAR /*/

.navbar {
    width: 6rem;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

@media (max-width: 800px) {
    .navbar {
        width: 100vw;
        height: 3rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 1rem;
        position: absolute;
    }
}