.section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1818;
}

.descContainer {
    width: 40vw;
    height: 100%;
    padding-left: 10rem;
    padding-right: 5rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.heading {
    font-family: 'Niramit', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: 0.7rem;
    color: #ecead3;
}

.desc {
    font-family: 'Niramit', sans-serif;
    line-height: 1.3rem;   
    color: #ecead3;
}

.desc:nth-child(3) {
    padding-top: 1rem;
}


.projectContainer {
    width: 55vw;
    height: 100%;
    padding-top: 10rem;
}

.project {
    padding-bottom: 2rem;
}

.projectName {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #ecead3;
    font-weight: 600;
    font-size: 5rem;
    text-decoration: none;
    line-height: 5rem;
}

.projectRoles {
    color: #ecead3;
    font-family: 'Niramit', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    line-height: 0.8rem;
}