.footer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d0530;
    overflow: hidden;
    border-radius: 2.5rem 2.5rem 0 0;
}

.container {
    width: calc(100vw - 5rem);
    height: 100%;
}

.emailContainer {
    width: calc(100vw - 8rem);
    display: flex;
    justify-content: space-between;
}

.email {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 3.8rem;
    font-size: clamp(3.8rem, 2.2302325581395346rem + 5.023255813953488vw, 6.5rem);
    font-weight: 300;
    padding-top: 2rem;
}

.emailLink {
    text-decoration: underline;
}

.codeLink {
    width: 50%;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    text-align: right;
    font-size: 1.3rem;
    font-size: clamp(1.3rem, 0.8930232558139536rem + 1.3023255813953487vw, 2rem);
    padding-top: 2.8rem;
    text-decoration: underline;
}

.textContainer {
    padding-top: 3rem;
}

.topContainer {
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: clamp(0.4rem, -0.530232558139535rem + 2.9767441860465116vw, 2rem);
}

.topText {
    font-family: 'Noto Sans', sans-serif;
    color: rgb(182, 182, 182);
}

.title {
    font-size: 4.6rem;
    font-size: clamp(4.6rem, -0.8651162790697677rem + 17.488372093023255vw, 14rem);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    overflow: hidden;
    color: white;
}

.bottomContainer {
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: clamp(0.4rem, -0.530232558139535rem + 2.9767441860465116vw, 2rem);
}

.bottomText {
    font-family: 'Noto Sans', sans-serif;
    color: rgb(182, 182, 182);
}

@media (max-width: 600px) {

    .footer {
        height: auto;
    }

    .container {
        width: calc(100vw - 3rem);
    }

    .emailContainer {
        width: calc(100vw - 3rem);
        justify-content: center;
        flex-direction: column;
    }

    .email {
        text-align: center;
    }

    .codeLink {
        width: 100%;
        text-align: center;
    }

    .textContainer {
        padding-top: 10rem;
        padding-bottom: 2rem;
    }

    .title {
        letter-spacing: 2px;
    }

    .topText, .bottomText {
        font-size: 13px;
    }
}

@media (max-width: 500px) {

    .footer {
        border-radius: 1.5rem 1.5rem 0 0;
    }

    .email {
        font-size: 2.5rem;
        font-size: clamp(2.5rem, 0.5500000000000003rem + 10.399999999999999vw, 3.8rem);
    }

    .topContainer {
        width: 100%;
        top: -1rem;
        text-align: left;
        justify-content: center;
        align-items: end;
        flex-direction: column;
    }

    .title {
        font-size: 4rem;
        font-size: clamp(4rem, 2.5rem + 8vw, 5rem);
        letter-spacing: 0px;
        line-height: 4rem;
    }

    .bottomContainer {
        bottom: 0rem;
        padding-top: 0.5rem;
    }
}