main {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.main-intro {
    position: relative;
    right: 6rem;
    margin-bottom: 4rem;
}

.main-title {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.main-desc {
    font-size: 1.1rem;
    font-family: sans-serif;
}