.main {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background-color: #1d0530;
    border-radius: 3rem 3rem 0 0;
}

.textContainer {
    width: calc(100vw - 5rem);
}

.topText {
    width: 100%;
    display: inline-block;
    color: white;
    font-size: 6rem;
    font-size: clamp(6rem, 0.1860465116279073rem + 18.6046511627907vw, 16rem);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.bottomText {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}

.dates {
    position: relative;
    color: white;
    top: clamp(5rem, -0.8139534883720927rem + 18.6046511627907vw, 15rem);
    font-family: 'Noto Sans', sans-serif;
}

.text {
    font-size: 6rem;
    font-size: clamp(6rem, 0.1860465116279073rem + 18.6046511627907vw, 16rem);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}


/*/ Work Card /*/

.mainContainer {
    width: calc(100vw - 5rem);
    height: 100%;
}

.infoContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.infoText {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    color: white;
}

.infoNumber {
    color: white;
    font-size: 1rem;
    font-family: 'Noto Sans', sans-serif;
}

.projectContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:last baseline;
    position: relative;
    padding-bottom: 5rem;
}

.projectTextContainer {
    display: flex;
    flex-direction: column;
    padding-top: clamp(7rem, 1.7674418604651168rem + 16.74418604651163vw, 16rem);
}

.projectRoles {
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    padding-left: 0.5rem;
}

.projectName {
    font-size: 3rem;
    font-size: clamp(3rem, -0.4883720930232558rem + 11.162790697674419vw, 9rem);
    line-height: clamp(3rem, -0.4883720930232558rem + 11.162790697674419vw, 9rem);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

.imageContainer {
    width: 40vw;
    aspect-ratio: 1/0.48;
    background-color: black;
    border-radius: 1rem;
    overflow: hidden;
}

.projectImage {
    width: 100%;
    border-radius: 1rem;
}

@media (max-width: 1100px) {
    .infoContainer {
        padding-bottom: 10rem;
    }
}

@media (max-width: 900px) {
    .textContainer {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

@media (max-width: 600px) {

    .textContainer {
        width: calc(100vw - 3rem);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .bottomText {
        width: 100%;
        justify-content: center;
        flex-direction: column-reverse;
        padding-top: 0rem;
    }

    .topText, .text, .dates {
        text-align: center;
    }

    .dates {
        position: static;
        padding-top: 3rem;
    }

    .mainContainer {
        width: calc(100vw - 3rem);
    }

    .infoContainer {
        padding-bottom: 3rem;
    }

    .projectContainer {
        justify-content: center;
        flex-direction: column;
    }
    .projectTextContainer {
        width: 100%;
        padding-bottom: 1.5rem;
        padding-top: 5rem;
    }
    .imageContainer {
        width: 100%;
    }
}

@media (max-width: 500px) {

    .main {
        border-radius: 2rem 2rem 0 0;
    }

    .topText, .text {
        font-size: 3.5rem;
        font-size: clamp(3.5rem, -0.25rem + 20vw, 6rem);
    }

    .dates {
        font-size: 14px;
    }

    .infoContainer {
        padding-top: 2.5rem;
    }

    .infoText {
        font-size: 1.1rem;
    }

    .infoNumber {
        font-size: 1rem;
    }

    .projectContainer {
        padding-bottom: 2rem;
    }

    .projectRoles {
        font-size: 14px;
    }
}